// descriptive colour vars 

$green : #1abc9c;
$white : #ffffff;
$grey  : #c4cccc;
$purple : #cc00ff;


//fonts 

$font-stack-rock : 'Rokkitt', serif;
$font-stack-quick :'Quicksand', sans-serif; 

// asset paths 

$path-img : '../dev/scss/img';